@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MobileApplication.Models.Mobile>

@{
    /**/

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style=" width: 100%; padding-top:10px;">
    <div style="float:left; width: 25%;margin:0 auto;">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group">
                <input type="text" name="search" placeholder="დასახელება" class = "form-control" />
                @*@Html.TextBox("search", "დასახელება", new { @class = "form-control" })*@
            </div>
            <div class="form-group">
                @Html.DropDownList("manufacturers", ViewBag.sth as SelectList, "მწარმოებელი", new { @class = "form-control" })
            </div>
            <table class="form-group">
                <tr>
                    <td width="130px">
                        @*@Html.TextBox("priceFrom", "ფასი-დან", new { @class = "form-control" })*@
                       <input type="text" name="priceFrom" placeholder="ფასი-დან" value="" class="form-control" />
                    </td>
                    <td width="20px" align="center">-</td>
                    <td width="130px">
                        @*@Html.TextBox("priceTo", "ფასი-მდე", new { @class = "form-control" })*@
                        <input type="text" name="priceTo" placeholder="ფასი-მდე" class="form-control" />
                    </td>
                </tr>
            </table>
            <br />
            <input type="submit" value="ძებნა" class="btn btn-success center-block" style="width:150px;" />
        }
    </div>

    <div class="container-fluid bg-4 text-center" style="float:left;width: 75%;">
        @if (Model.Count() == 0)
        {
            <p>Oops...</p>
            <p>There is no desired match for you, try another one</p>
        }
        else
        {
            for (var i = 0; i < 2; i++)
            {
                var m = (i == 0) ? 0 : 4;
                var counter = m + 3;
                <div class="row">
                    @for (; m < Model.Count(); m++)
                    {
                        if (m == counter)
                        {
                            break;
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <div>
                                    <center>
                                        <img src="@Url.Content(Model[m].Link)" class="img-responsive" style="width:140px; height:195px;">
                                    </center>
                                </div>

                                <div>
                                    @Html.ActionLink(Model[m].Name, "Details", "Home", new { id = Model[m].Id }, null)
                                </div>
                                <center>
                                    <div style="background-color:green; border: 2px solid black; width:130px; color:white">
                                        @Model[m].Price ლარი
                                    </div>
                                </center>
                            </div>
                        }
                    }
                </div>
                <br />
            }
        }
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"], manufacturers = Request.QueryString["manufacturers"], priceFrom = Request.QueryString["priceFrom"], priceTo = Request.QueryString["priceTo"] }),
new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
</div>


